<a href="https://colab.research.google.com/github/jaymeson-jpg/ORANGE_CANVAS/blob/master/cursobpython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Passo a passo de solucoes do Desafio curso basico de vendas

In [46]:
# Logica de progrmacao

# passo 0 - entender o desafio qque vamos resolver

# passo 1 - Percorrer todos os arquivos da pasta base de dados (pasta Vendas)
import os
import pandas as pd
import plotly.express as px

lista_arquivo = os.listdir("/content/sample_data/Vendas")
display(lista_arquivo)

['Devolucoes - Porto Alegre.csv',
 'Vendas - Goiás.csv',
 'Devolucoes - Goiás.csv',
 'Vendas - Porto Alegre.csv',
 'Vendas - São Paulo.csv',
 'Devolucoes - Fortaleza.csv',
 'Devolucoes - Rio de Janeiro.csv',
 'Vendas - Recife.csv',
 'Vendas - Salvador.csv',
 'Vendas - Fortaleza.csv',
 'Vendas - Curitiba.csv',
 'Devolucoes - São Paulo.csv',
 'Vendas - Belo Horizonte.csv',
 'Vendas - Rio de Janeiro.csv',
 'Devolucoes - Curitiba.csv',
 'Devolucoes - Recife.csv',
 'Devolucoes - Belo Horizonte.csv',
 'Devolucoes - Salvador.csv']

In [47]:
tabela_total = pd.DataFrame()

# passo 2 - Importar as bases de dados de vendas
for arquivo in lista_arquivo:

 # mes = 'fevereiro'
 # print(arquivo)
  if "Vendas" in arquivo:
#    print(f"/content/sample_data/Vendas/{arquivo}")

#  print('-')
# importar o arquivo
    tabela = pd.read_csv(f"/content/sample_data/Vendas/{arquivo}")
#    print(arquivo)
#    display(tabela)
    tabela_total = tabela_total.append(tabela)

# passo 3 - Tratar / Compilar as bases de dados

display(tabela_total)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,13,HL4379,Televisão,1,Daniel,Monteiro,5/23/2018,Goiás,2500,NaN
1,19,HL9962,Android,4,Elaine,Santos,7/5/2018,Goiás,3400,NaN
2,45,HL1918,iPhone,5,Lenon,Fernandes,3/31/2018,Goiás,5300,NaN
3,50,HL7348,SmartWatch,1,Vivianne,Rodrigues,8/11/2018,Goiás,1400,NaN
4,97,HL7348,SmartWatch,2,Pedro,Rodrigues,7/26/2018,Goiás,1400,NaN
...,...,...,...,...,...,...,...,...,...,...
1462,9971,HL1918,iPhone,4,Isaac,Santos,12/3/2018,Rio de Janeiro,5300,NaN
1463,9976,HL9962,Android,2,Andreza,Ramos,12/17/2018,Rio de Janeiro,3400,NaN
1464,9982,HL4379,Televisão,3,Leticia,Mesquita,5/22/2018,Rio de Janeiro,2500,NaN
1465,9987,HL1918,iPhone,5,Manuela,Merege,9/12/2018,Rio de Janeiro,5300,NaN
1466,9989,HL1918,iPhone,5,Rafael,Carneiro,2/28/2018,Rio de Janeiro,5300,NaN

In [48]:
# passo 4 - Calcular o produto mais vendido (em quantidade)
tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos[["Quantidade Vendida"]].sort_values(by="Quantidade Vendida", ascending=False)
display(tabela_produtos)

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

In [49]:
# passo 5 - Calcular o produto que mais faturou ( em faturamentos)

tabela_total['Faturamento'] = tabela_total['Quantidade Vendida'] * tabela_total['Preco Unitario']
# display(tabela_total)
tabela_faturamento = tabela_total.groupby('Produto').sum()
tabela_faturamento = tabela_faturamento[["Faturamento"]].sort_values(by="Faturamento", ascending=False)
display(tabela_faturamento)

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [50]:
# passo 6 - Calcular a loja/cidade que mais vendeu (em faturamento) criando um gradico/dashboard
tabela_lojas = tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[['Faturamento']]
display(tabela_lojas)

                Faturamento
Loja
Belo Horizonte      6480300
Curitiba            7060500
Fortaleza          14087900
Goiás               7441800
Porto Alegre        6868600
Recife              7303000
Rio de Janeiro     14867800
Salvador           13111300
São Paulo          22098300

In [52]:
import plotly.express as px

grafico = px.bar(tabela_lojas, x=tabela_lojas.index, y='Faturamento')
grafico.show()